<div fxLayout="column" fxLayoutAlign="space-evenly stretch">

  <div fxFlex="100">
    <h2>{{ config.label }}
      <ng-container *ngIf="config.required">*</ng-container>
    </h2>
  </div>

  <div fxFlex="100">
    <div class="help">{{ config.help }}</div>
  </div>

  <div fxLayout="row" class="textarea-input">

    <div fxFlex="95" class="label">
      <mat-form-field>
        <textarea matInput
                  placeholder="{{ config.label }}"
                  [(ngModel)]="currentValue.value">
        </textarea>
      </mat-form-field>
    </div>

    <div class="add-btn" fxFlex="5">
      <button mat-mini-fab (click)="addValue()">
        <mat-icon>
          <ng-container *ngIf="!isUpdating">add</ng-container>
          <ng-container *ngIf="isUpdating">cached</ng-container>
        </mat-icon>
      </button>
    </div>

  </div>

  <div class="titles">
    <mat-chip-list>
      <mat-chip *ngFor="let it of map; let i=index" (click)="selectValue(i, it.value)" (removed)="remove(i)"
                [removable]="true">
        {{ it.value }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>

  <div *ngIf="map.length == 0">
    <mat-error>
      This field is required
    </mat-error>
  </div>

</div>
