.mat-form-field {
     width: 100%; 
     justify-content: center;
}
.fijar{
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 15px;
    box-sizing: content-box;
}
.table {
    width: 100%;
  }
.longitud{
    width: 10%
}



     .styleId{
         width: 0.5%;
         text-align: center;
     }
     .styleTitle{
         width: 60%;
         text-align: center;
     }
     .styleAuthor{
         width: 25%;
         text-align: center;
     }
     .styleDate{
         width: 10%;
         text-align: center;
     }