<form *ngIf="isReady" #metadataForm="ngForm">
    <div class="edit-metadata">
        <mat-accordion displayMode="flat">
            <mat-expansion-panel *ngFor="let block of config.data"> <!-- Expansion Panel -->

                <mat-expansion-panel-header> <!-- Expansion Panel Header -->
                    <mat-panel-title>{{ block.blockname }}</mat-panel-title>
                </mat-expansion-panel-header> <!-- End Expansion Panel Header -->

                <div class="mat-expansion-panel-content">
                    <esfacil-control-wrapper
                            [config]="block.fields"
                            [data]="data">
                    </esfacil-control-wrapper>
                </div>

            </mat-expansion-panel> <!-- End Expansion Panel -->

            <mat-expansion-panel> <!-- Dropbox Panel -->

                <mat-expansion-panel-header> <!-- Expansion Panel Header -->
                    <mat-panel-title>Dropbox area</mat-panel-title>
                </mat-expansion-panel-header> <!-- End Expansion Panel Header -->

                <div class="mat-expansion-panel-content">
                    <div class="dropzone">
                        <esfacil-cmp-dropbox [data]="data">
                        </esfacil-cmp-dropbox>
                    </div>
                </div>

            </mat-expansion-panel> <!-- End Dropbox Panel -->
        </mat-accordion>

        <div class="controls">
            <button mat-stroked-button color="primary">Accept</button>
            <button mat-stroked-button color="warn">Cancel</button>
        </div>
    </div>
</form>
