<mat-list role="list">
  <mat-list-item role="listitem" class="cursor icon-margin">
    <mat-icon>sync</mat-icon>
    <a routerLink="/app/resources/inProgress" >In Process</a>
  </mat-list-item>
  <mat-list-item role="listitem" class="cursor icon-margin">
    <mat-icon>send</mat-icon>
    <a routerLink="/app/resources/send">
      Send Document
    </a>
  </mat-list-item>
  <mat-list-item role="listitem" class="cursor icon-margin">
    <mat-icon>close</mat-icon>
    <a routerLink="/app/resources/denied">
      Denied
    </a>
  </mat-list-item>
  <mat-list-item role="listitem" class="cursor icon-margin">
    <mat-icon>done</mat-icon>
    <a routerLink="/app/resources/accepted">
      Accepted
    </a>
  </mat-list-item>
</mat-list>