<div fxLayout="column" fxLayoutAlign="space-evenly stretch">

  <div fxFlex="100">
    <h2>
      Autores
      <ng-container *ngIf="config.required">*</ng-container>
    </h2>
  </div>

  <div fxFlex="100">
    <div class="help">{{ config.help }}</div>
  </div>

  <div fxLayout="row"> <!-- Wrap a input control -->

      <div fxFlex="6" class="label">
        <label>{{ config.label }}</label>
      </div>

      <div fxFlex="41">
        <mat-form-field>
          <input #family matInput [errorStateMatcher]="matcher" placeholder="Given" [(ngModel)]="currentAuthor.family">

          <button mat-button *ngIf="currentAuthor.family"
                  matSuffix mat-icon-button aria-label="Clear"
                  (click)="currentAuthor.family = null">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div fxFlex="41" fxFlexOffset="1">
        <mat-form-field>
          <input #given matInput placeholder="Family" [errorStateMatcher]="matcher" [(ngModel)]="currentAuthor.given">

          <button mat-button *ngIf="currentAuthor.given"
                  matSuffix mat-icon-button aria-label="Clear"
                  (click)="currentAuthor.given = null">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div fxFlex="5" fxFlexOffset="3">
        <button mat-mini-fab [disabled]="inputIsEmpty()" (click)="openAuthorityDialog()">
          <mat-icon>
            group_add
          </mat-icon>
        </button>
      </div>

      <div fxFlex="5">
        <button mat-mini-fab (click)="addAuthor()">
          <mat-icon>
            <ng-container *ngIf="!isUpdating">add</ng-container>
            <ng-container *ngIf="isUpdating">cached</ng-container>
          </mat-icon>
        </button>
      </div>

  </div>

  <div *ngIf="!isValid()">
    <mat-error>
      Este campo es requerido
    </mat-error>
  </div>

  <esfacil-unchecked-list [authorsData]="data[this.config.cslfield]" (authorChange)="updateCurrentAuthor($event)">
  </esfacil-unchecked-list>

  <esfacil-checked-list [authorsData]="data[this.config.cslfield]">
  </esfacil-checked-list>

</div>
